<!-- The store-list view -->
<section data-ng-controller="cspsStoreController" data-ng-init="find()">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
  </div>
  <div class="panel panel-default row" data-ng-controller="cspsCatProductController">
    <div class="col-xs-3">
      <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
      <a ng-repeat="item in data.products | orderBy:'category' | uniqueProperty:'category'"
         ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg"
         ng-class="getCategoryClass(item)">
          {{item}}
      </a>
    </div>
    <div class="col-xs-8">
      <div class="well" ng-repeat="item in data.products | filter: categoryFilterFn">
        <h3>
          <strong>{{item.name}}</strong>
          <span class="pull-right label label-primary">
            {{item.price | currency}}
          </span>
        </h3>
        <span class="lead">{{item.description}}</span>
      </div>
    </div>
  </div>
</section>

