<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch09_01 Directives</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa10.app.js"></script>
    <script src="../controllers/cexPa10.controller.js"></script>    
</head>
<body  ng-app="cexPa010App">
  <div id="todoPanel" class="panel" ng-controller="cexPa10DefaultCtrl">
    <h3 class="panel-header">To Do List</h3>

    <div>There are {{todos.length}} items</div>      

    <div>
        There are <span ng-bind="todos.length"></span> items
    </div>

    <div ng-bind-template=
         "First: {{todos[0].action}}. Second: {{todos[1].action}}">
    </div>

    <div ng-non-bindable>
        AngularJS uses {{ and }} characters for templates
    </div>        
  </div>
</body>
</html>
