<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch09_04 Directives</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa10.app.js"></script>
    <script src="../controllers/cexPa10.controller.js"></script>    
</head>
<body  ng-app="cexPa010App">
  <div id="todoPanel" class="panel" ng-controller="cexPa10DefaultCtrl">
    <h3 class="panel-header">To Do List</h3>
    <table class="table">
      <thead>
        <tr>
            <th>Action</th>
            <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todos">
            <td>{{item.action}}</td>
            <td>{{item.complete}}</td>
        </tr>
      </tbody>
    </table>
</body>
</html>
