<!DOCTYPE html>
<html>
<head>
  <title>ProAngular Ch09_15 Directives</title>
  <link href="../../css/bootstrap.css" rel="stylesheet" />
  <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
  <script src="../../../../lib/angular/angular.js"></script>
  <script src="../cexPa10.app.js"></script>
  <script src="../controllers/cexPa10.controller.js"></script>    
  <style>
    .odd { background-color: lightcoral}
    .even { background-color: lavenderblush}
  </style>
</head>
<body  ng-app="cexPa010App">
  <div id="todoPanel" class="panel" ng-controller="cexPa10DefaultCtrl">
    <h3 class="panel-header">To Do List</h3>
    <div class="well">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="showList">
          Use the list view
        </label>
      </div>
    </div>    
    <ng-include src="viewFile()" onload="reportChange()"></ng-include>  
  </div>
</body>
</html>
