<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch09_16 AngularJS Demo</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa09.app.js"></script>
    <script src="../controllers/cexPa09.controller.js"></script>
    <script src="../directives/cexPa09.directives.js"></script>
    <script src="../filters/cexPa09.filters.js"></script>
    <script src="../services/cexPa09.services.js"></script>
</head>
<body> 
  <div class="panel" ng-app="cexPa09App">
    <div class="page-header">
      <h3>ProAngular Ch09_16 AngularJS App</h3>
    </div>
    <h4 ng-controller="cexPa09DayCtrl" cexpahighlight="Tuesday">
      Today is {{day || "(unknown)" | cexPaDaynames}}
    </h4>
    <h4 ng-controller="cexPa09TomorrowCtrl">
      Tomorrow is {{day || "(unknown)" | cexPaDaynames}}
    </h4>
  </div>
</body>
</html>

