<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch12_01 Directives</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa12.app.js"></script>
    <script src="../controllers/cexPa12.controller.js"></script>    
</head>
<body  ng-app="cexPa12App">
    <div id="todoPanel" class="panel" ng-controller="cexPa12DefaultCtrl">
      <h3 class="panel-header">
        To Do List
        <span class="label label-info">
            {{(todos | filter: {complete: 'false'}).length}}
        </span>
      </h3>
      <table class="table">
          <thead>
            <tr><th>#</th><th>Action</th><th>Done</th></tr>
          </thead>
          <tr ng-repeat="item in todos">
            <td>{{$index + 1}}</td>
            <td>{{item.action}}</td>
            <td>
                <input type="checkbox" ng-model="item.complete"/>
            </td> 
          </tr>
      </table> 
    </div>
</body>
</html>
