<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch12_17 Directives</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa12.app.js"></script>
    <script src="../controllers/cexPa12.controller.js"></script>    
    <style>
      form.validate .ng-invalid-required.ng-dirty { background-color: lightpink; }
      form.validate .ng-invalid-email.ng-dirty {
          background-color: lightgoldenrodyellow; } 
      div.error {color: red; font-weight: bold;}
    </style>    
</head>
<body  ng-app="cexPa12App">
    <div id="todoPanel" class="panel" ng-controller="cexPa12DefaultCtrl">
 
 
    <form name="myForm" novalidate>
      <div class="well">
        <div class="form-group">
          <label>Select an Action:</label>
          <select ng-model="selectValue"
                  ng-options="item.id as item.action for item in todos">
            <option value="">(Pick One)</option>                      
          </select>
        </div>
      </div>

      <div class="well">
        <p>Selected: {{selectValue || 'None'}}</p>
      </div> 
 
    </form>      
 
 
    </div>
</body>
</html>
