<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch15_12 Controllers</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa15.app.js"></script>
    <script src="../controllers/cexPa15.controller.js"></script> 
    <script src="../directives/cexPa15.L11.directives.js"></script>    
</head>
<body  ng-app="cexPa15App">
  <div class="well" ng-controller="cexPa15SimpleCtrl">
    <h3>Fruit</h3>
    <ol cex-pa15-demo-directive>
      <li>Apples</li>
      <li>Oranges</li>
      <li>Pears</li>
    </ol>
  </div>
</body>
</html>
