<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch15_17 Controllers</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa15.app.js"></script>
    <script src="../controllers/cexPa15.L17.controller.js"></script> 
    <script src="../directives/cexPa15.L17.directives.js"></script>    
</head>
<body  ng-app="cexPa15App">
  <div class="well" ng-controller="cexPa15SimpleCtrl">
    <h3>Fruit</h3>
    <div cex-pa15-demo-directive></div>
  </div>
</body>
</html>
