<!DOCTYPE html>
<html>
<head>
    <title>ProAngular Ch13_02 Controllers</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../../../lib/angular/angular.js"></script>
    <script src="../cexPa13.app.js"></script>
    <script src="../controllers/cexPa13.controller.js"></script>    
</head>
<body  ng-app="cexPa13App">
    <div class="well" ng-controller="cexPa13SimpleCtrl">
        Content will go here.
    </div>
</body>
</html>
