<!-- The csps_admin view -->

<section data-ng-controller="cspsAdminController"> 
	<!-- If the user is not authenticated show the authentication link -->
	<div data-ng-hide="admin_user">
		<a href="/ys/signup">Signup</a>
		<a href="/ys/signin">Signin</a>
	</div>
	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="admin_user">
    <div class="navbar navbar-inverse">
      <a class="navbar-brand" href="#!">SPORTS STORE ADMIN</a>
    </div>

    <h1>Hello <span data-ng-bind="authentication.user.fullName"> to SportsStore's Admin</span></h1>	

    <div class="panel panel-default row" ng-controller="cspsAdminMainController">
      <div class="col-xs-3 panel-body">
        <a ng-repeat="item in screens" class="btn btn-block btn-default"
         ng-class="{'btn-primary': item == current }" ng-click="setScreen($index)">
          {{item}}
        </a>
      </div>
      <div class="col-xs-8 panel-body" >
        <div ng-include="getScreen()" />
      </div>
    </div>

	</div>
</section>

